<!doctype html>
<html lang="<%= lang() %>">
<head>
  <title><%= __('Memory Overflow') %> | <%= title() %></title>
  <meta name="description" content="<%= __('Card game by developers for developers - Destroy your enemies, controls the Machine, be the new Developer Master') %>" />

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="generator" content="MemoryOverflowAgent" />

  <link rel="icon" type="image/png" href="<%= base() %>favicon.ico" />
  <link rel="shortcut icon" href="<%= base() %>favicon.png" />

  <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  <link href="http://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet" type="text/css" />
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="/vendor/fontello/css/fontello.css" type="text/css" />
  <link rel="stylesheet" href="/assets/common/page.css" type="text/css" />
<% for(var i = 0, len = css.length; i < len; i++) { -%>
  <link rel="stylesheet" href="<%= base() + css[i] -%>" type="text/css" />
<% } %>
</head>
<body>

  <header class="body-header">
    <div class="body-header-content">
      <div class="logo-bg logo-bg-1"></div>
      <div class="logo-bg logo-bg-2"></div>
      <div class="logo-bg logo-bg-3"></div>
      <div class="logo-bg logo-bg-4"></div>
      <div class="logo-bg logo-bg-5"></div>
      <div class="logo-bg logo-bg-6"></div>
      <div class="logo-bg logo-bg-7"></div>

      <a class="logo" href="<%= index() %>index.html">
        <div class="logo-animation"></div>
        <h1><%= __('Memory Overflow') %></h1>
      </a>

      <p class="home-message">
        <%= __('« Destroy your enemies, controls the Machine, be the new Developer Master »') %>
        <span>- <%= __('D.M.') %></span>
      </p>
    </div>
  </header>

  <div class="body-content">
