<% title('Story of The Machine') -%>
<% include features/common/header -%>

<div class="body-content-container">
  <div class="city"></div>
</div>

<article class="body-page">

  <h1><%= __('Story of The Machine') %></h1>

  <p><%- __(
    'Few weeks ago, the biggest of all the developers died. A huge space seized the world such as we know it. Known as the biggest computer genius of all time, this engineer had made tip over the era of the digital technology to the quantum era in a few years. There is no developer on earth which knows its story as well as each of its inventions. And all humans are using his products every day. Aerospace, military, home automation, robotics, artificial intelligence, and some more other emergent sectors took a burst of acceleration these last years thanks to the advances in the man known as the %sDeveloper Master%s.',
    '<strong>', '</strong>'
  ) %></p>

  <p><%= __('According to his testament, he wanted to share with the developers\'s world a letter he wrote shortly before his death. This letter is the last testimony he has left to us. It\'s a part of his soul.') %></p>

  <p class="blockquote"><%= __('My dear developers friends,') %></p>

  <p class="blockquote"><%= __('My whole life was devoted to computer engineering. I have traveled the world and learned to use each technology that contained the planet. And the more I learned, the more I discovered the wonders of the human brain.') %></p>

  <p class="blockquote"><%= __('During one of my trips, I discovered the essence of human intelligence. How it works, evolves and learns from his mistakes. Every cell in our body, every neuron in our brain, every psychological behavior, everything can be digitally reproduced! Unfortunately, the more I was traveling the more I was getting older. I\'ve realized over time how our human bodies are weak and limited.') %></p>

  <p class="blockquote"><%= __('So I designed a new kind of machine. A machine that would be similar to humans. Instead of serving, she would like them, smart. I could put all my intelligence and knowledge. I will continue to live even after my physical death.') %></p>

  <p class="blockquote"><%= __('The Machine was born 4 years ago. 4 years that I build her, sheltered from view of the world. For once, I chosen\'t to put her under an Open Source license. I am close to the end, there is only a small problem to solve.') %></p>

  <p class="blockquote"><%- __(
    'Since I do not want The Machine falls into wrong hands, I developed the most effective security system ever built. %sOnly a Developer Master can enter The Machine%s by finding the correct security code.',
    '<strong>', '</strong>'
  ) %></p>

  <p class="blockquote"><%- __(
    'As Arthur\'s sword stuck in the rock, I leave you all the time to find the code and prove you\'re worthy of a %sDeveloper Master%s. The one who crack the code will become the best developer in the world and control the entire machine.',
    '<strong>', '</strong>'
  ) %></p>

  <p class="blockquote"><%= __('As I said earlier, there is a \"small\" problem I have to start the machine. I must have to transfer all the vital energy of my brain. I\'m not much sure on the side effects it could have on me, but as I am a man of science, I will try it very soon.') %></p>

  <p class="blockquote"><%= __('Actually, if you read this letter, is that I\'ve tried. I hope everything has gone well.') %></p>

  <p class="blockquote"><%= __('D.M.') %></p>

</article>

<% include features/common/footer -%>